global
    daemon
    maxconn 50000
    stats socket /var/lib/haproxy/haproxy.sock mode 0600 level admin
defaults
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen Galera
    bind *:3306
    balance source
    mode tcp
    option tcpka
    option mysql-check user haproxy
{% for galera_servers in galera_servers %}
    server {{ galera_servers.name }} {{ galera_servers.ip }}:3306 check weight 1
{% endfor %}

